$bg: #f0f1f3;
$blue: #0087ff;
$light-blue: lighten($blue, 10%);
$navy: #4e5b68;
$light-navy: lighten($navy, 40%);
$grey: darken($bg, 5%);
$purple: #9b59b6;
$red: #c0392b;
$light-grey: #BFC7C5;
$font-stack: Roboto, 'Helvetica Neue', Helvetica, sans-serif;


$xs-device: 420px;
$sm-device: 420px;
$md-device: 992px;
$lg-device: 1200px;
$xl-device: 1441px;
